<launch>
    <!-- 启动第一个 MAVROS 节点 -->
    <node pkg="mavros" type="mavros_node" name="mavros1" output="screen" ns="uav1">
        <rosparam command="load" file="$(find offboard_control)/config/mavros1.yaml" />
    </node>

    <!-- 启动第二个 MAVROS 节点 -->
    <node pkg="mavros" type="mavros_node" name="mavros2" output="screen" ns="uav2">
        <rosparam command="load" file="$(find offboard_control)/config/mavros2.yaml" />
    </node>
</launch>